@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Regular.eot");
  src: local("☺"), url("fonts/Gilroy-Regular.woff") format("woff"), url("fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-SemiBold.eot");
  src: local("☺"), url("fonts/Gilroy-SemiBold.woff") format("woff"), url("fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Bold.eot");
  src: local("☺"), url("fonts/Gilroy-Bold.woff") format("woff"), url("fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 400;
  color: #333333;
}

.container-1 {
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 5px;
}

@media (max-width: 1464px) {
  .container-1 {
    max-width: 1250px;
  }
}

@media (max-width: 1200px) {
  .container-1 {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container-1 {
    max-width: 750px;
  }
}

.container-2 {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 5px;
}

@media (max-width: 1200px) {
  .container-2 {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container-2 {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container-2 {
    max-width: 530px;
  }
}

@media (max-width: 576px) {
  .container-2 {
    max-width: auto;
  }
}

img {
  max-width: 100%;
}

.title-2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

@media (max-width: 410px) {
  .title-2 {
    font-size: 30px;
    line-height: 38px;
  }
}

.title-3 {
  font-weight: 700;
  font-size: 24px;
}

.btn {
  display: inline-block;
  padding: 0 80px;
  height: 72px;
  color: #ffffff;
  background-color: #3454F5;
  line-height: 72px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.btn:hover {
  background-color: #0926ba;
}

.btn:active {
  -webkit-box-shadow: inset 0 0 10px 10px #071c89;
          box-shadow: inset 0 0 10px 10px #071c89;
}

.header {
  padding: 30px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .header__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header__logo {
  position: relative;
  max-width: 135px;
  max-height: 29px;
}

@media (max-width: 576px) {
  .header__logo {
    margin-bottom: 10px;
  }
}

.header__logo::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: -14.5px;
  right: 0;
  width: 27px;
  height: 9px;
  background-color: #3454F5;
  -webkit-animation: 2s 1s backwards blockk;
          animation: 2s 1s backwards blockk;
}

@-webkit-keyframes blockk {
  0% {
    -webkit-transform: translate(1200px) rotate(180deg) scale(0.01);
            transform: translate(1200px) rotate(180deg) scale(0.01);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes blockk {
  0% {
    -webkit-transform: translate(1200px) rotate(180deg) scale(0.01);
            transform: translate(1200px) rotate(180deg) scale(0.01);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 992px) {
  @-webkit-keyframes blockk {
    0% {
      -webkit-transform: translate(220px) rotate(180deg) scale(0.01);
              transform: translate(220px) rotate(180deg) scale(0.01);
    }
  }
  @keyframes blockk {
    0% {
      -webkit-transform: translate(220px) rotate(180deg) scale(0.01);
              transform: translate(220px) rotate(180deg) scale(0.01);
    }
  }
}

.header__menu_burger {
  display: none;
}

@media (max-width: 992px) {
  .header__menu_burger {
    display: block;
    z-index: 15;
  }
}

.header__menu_burger span {
  content: '';
  display: table;
  width: 40px;
  height: 6px;
  border-radius: 5px;
  background-color: #3454F5;
  margin-bottom: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu_burger.active span:nth-of-type(2) {
  width: 70%;
}

.header__menu_burger.active span:nth-of-type(3) {
  width: 40%;
}

.header__btn {
  display: inline-block;
  border: 2px solid #333333;
  border-radius: 7px;
  padding: 0 36px;
  height: 50px;
  line-height: 45px;
  color: #333333;
  font-weight: 700;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header__btn:hover {
  color: #ffffff;
  background: #3454F5;
}

.header__btn:active {
  -webkit-box-shadow: inset 0 0 10px 5px #0926ba;
          box-shadow: inset 0 0 10px 5px #0926ba;
}

@media (max-width: 1200px) {
  .header__btn {
    padding: 0 16px;
  }
}

@media (max-width: 992px) {
  .menu {
    display: none;
    -webkit-animation: 0.5s burger;
            animation: 0.5s burger;
  }
  @-webkit-keyframes burger {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
  }
  @keyframes burger {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
  }
  .menu.active {
    display: block;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #fff;
    width: 100%;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 30px;
    padding: 30px;
  }
}

.menu__item:not(:last-of-type) {
  margin-right: 55px;
}

@media (max-width: 1200px) {
  .menu__item:not(:last-of-type) {
    margin-right: 25px;
  }
}

@media (max-width: 992px) {
  .menu__item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.menu__link {
  position: relative;
  color: #333333;
  font-weight: 600;
}

.menu__link::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 120%;
  left: 0;
  width: 0;
  height: 7px;
  background-color: #3454F5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu__link:hover::after {
  width: 100%;
}

.simple-development {
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  .simple-development {
    margin-bottom: 50px;
  }
}

.simple-development__body {
  padding: 0 0 0 190px;
  background-color: #EFF7FF;
  background-image: url("img/simple-development/1.png"), url("img/simple-development/2.png");
  background-repeat: no-repeat;
  background-position: 30% 0, 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (max-width: 1464px) {
  .simple-development__body {
    padding: 0 0 0 90px;
  }
}

@media (max-width: 992px) {
  .simple-development__body {
    padding: 40px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.simple-development__col-1 {
  padding: 173px 0 168px 0;
  max-width: 567px;
}

@media (max-width: 1464px) {
  .simple-development__col-1 {
    max-width: 467px;
  }
}

@media (max-width: 1200px) {
  .simple-development__col-1 {
    padding: 113px 0 108px 0;
  }
}

@media (max-width: 1200px) {
  .simple-development__col-1 {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .simple-development__col-1 {
    text-align: center;
  }
}

.simple-development__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 26px;
}

@media (max-width: 410px) {
  .simple-development__title {
    font-size: 44px;
    line-height: 52px;
  }
}

.simple-development__p {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 46px;
}

@media (max-width: 410px) {
  .simple-development__p {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 410px) {
  .simple-development__btn {
    padding: 0 40px;
  }
}

.simple-development__col-2 {
  position: relative;
  width: 864px;
  height: 750px;
}

@media (max-width: 1200px) {
  .simple-development__col-2 {
    width: 50%;
    height: 500px;
  }
}

@media (max-width: 992px) {
  .simple-development__col-2 {
    display: none;
  }
}

.simple-development__img {
  position: absolute;
}

.simple-development__img_3 {
  width: 964px;
  height: 850px;
  top: 5%;
  left: -7%;
  -webkit-animation: infinite 3s 1s alternate t;
          animation: infinite 3s 1s alternate t;
}

@-webkit-keyframes t {
  0% {
  }
  100% {
    -webkit-filter: saturate(3);
            filter: saturate(3);
  }
}

@keyframes t {
  0% {
  }
  100% {
    -webkit-filter: saturate(3);
            filter: saturate(3);
  }
}

@media (max-width: 1464px) {
  .simple-development__img_3 {
    width: 864px;
  }
}

@media (max-width: 1200px) {
  .simple-development__img_3 {
    width: 594px;
    top: 10%;
    left: -20%;
  }
}

.simple-development__img_4 {
  width: 248px;
  height: 237px;
  top: 25%;
  left: 5%;
  z-index: 5;
  -webkit-animation: infinite 7s 2s backwards alternate q;
          animation: infinite 7s 2s backwards alternate q;
}

@-webkit-keyframes q {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(20px);
            transform: translate(20px);
  }
}

@keyframes q {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(20px);
            transform: translate(20px);
  }
}

@media (max-width: 1464px) {
  .simple-development__img_4 {
    width: 200px;
  }
}

@media (max-width: 1200px) {
  .simple-development__img_4 {
    width: 150px;
    top: 35%;
    left: -5%;
  }
}

.simple-development__img_5 {
  width: 350px;
  height: 75px;
  top: 40%;
  left: 30%;
  background-color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  -webkit-animation: infinite 8s 1s backwards alternate w;
          animation: infinite 8s 1s backwards alternate w;
}

.simple-development__img_5 img {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

@-webkit-keyframes w {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes w {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@media (max-width: 1464px) {
  .simple-development__img_5 {
    width: 300px;
  }
}

@media (max-width: 1200px) {
  .simple-development__img_5 {
    width: 300px;
    height: 55px;
    top: 40%;
    left: 10%;
  }
}

.simple-development__img_6 {
  width: 350px;
  height: 75px;
  top: 55%;
  left: 40%;
  background-color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  -webkit-animation: infinite 9s 1.5s backwards alternate e;
          animation: infinite 9s 1.5s backwards alternate e;
}

.simple-development__img_6 img {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

@-webkit-keyframes e {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes e {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@media (max-width: 1464px) {
  .simple-development__img_6 {
    width: 300px;
  }
}

@media (max-width: 1200px) {
  .simple-development__img_6 {
    width: 300px;
    height: 55px;
    top: 55%;
    left: 10%;
  }
}

.simple-development__img_7 {
  width: 350px;
  height: 75px;
  top: 20%;
  left: 25%;
  background-color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-animation: infinite 5s 1.7s backwards alternate r;
          animation: infinite 5s 1.7s backwards alternate r;
}

.simple-development__img_7 img {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

@-webkit-keyframes r {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes r {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@media (max-width: 1464px) {
  .simple-development__img_7 {
    width: 300px;
  }
}

@media (max-width: 1200px) {
  .simple-development__img_7 {
    width: 300px;
    height: 55px;
    top: 25%;
    left: 10%;
  }
}

.internet {
  padding: 0 0 183px 0;
}

@media (max-width: 1200px) {
  .internet {
    padding: 0 0 103px 0;
  }
}

@media (max-width: 768px) {
  .internet {
    text-align: center;
  }
}

.internet__top {
  max-width: 630px;
}

.top {
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .top {
    margin-bottom: 20px;
  }
}

.top__title-2 {
  margin-bottom: 25px;
}

.top__p {
  font-size: 20px;
  line-height: 32px;
}

@media (max-width: 410px) {
  .top__p {
    font-size: 20px;
    line-height: 28px;
  }
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom__left {
  position: relative;
  left: -5%;
  width: 617px;
  height: 760px;
}

@media (max-width: 768px) {
  .bottom__left {
    display: none;
  }
}

.bottom__left img {
  position: absolute;
}

.bottom__left img:last-of-type {
  top: -25%;
  left: -15%;
}

@media (max-width: 1464px) {
  .bottom__left img:last-of-type {
    left: 0;
  }
}

@media (max-width: 992px) {
  .bottom__left img:last-of-type {
    top: -13%;
  }
}

.right {
  max-width: 463px;
}

.right__col:not(:last-of-type) {
  margin-bottom: 80px;
}

@media (max-width: 1200px) {
  .right__col:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.right__col_1-img {
  position: relative;
  left: -8%;
  width: 175px;
  height: 123px;
  margin-bottom: 23px;
  background: url("img/internet/5.svg") no-repeat center;
  background-size: 100px 100px;
}

@media (max-width: 768px) {
  .right__col_1-img {
    margin: 0 auto;
    left: 0;
  }
}

.right__col_2-img {
  width: 94px;
  height: 141px;
  background: url("img/internet/5.svg") no-repeat center;
  background-size: 90px 90px;
}

@media (max-width: 768px) {
  .right__col_2-img {
    margin: 0 auto;
  }
}

.right__col_3-img {
  width: 99px;
  height: 113px;
  margin-bottom: 28px;
  background: url("img/internet/5.svg") no-repeat center;
  background-size: 90px 90px;
}

@media (max-width: 768px) {
  .right__col_3-img {
    margin: 0 auto;
  }
}

.right__col_4-img {
  width: 89px;
  height: 130px;
  background: url("img/internet/5.svg") no-repeat center;
  background-size: 90px 90px;
}

@media (max-width: 768px) {
  .right__col_4-img {
    margin: 0 auto;
  }
}

.right__title-3 {
  margin-bottom: 15px;
}

.right__p {
  font-size: 18px;
  line-height: 28px;
}

.design {
  padding: 345px 0 305px 0;
  background-color: #3454F5;
}

@media (max-width: 410px) {
  .design {
    padding: 145px 0 105px 0;
  }
}

.design__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design__arrow {
  position: absolute;
  width: 49px;
  height: 110px;
  background: url("img/design/2.svg") no-repeat;
}

.design__arrow_1 {
  top: -60%;
  left: 0;
  opacity: 0.4;
}

.design__arrow_2 {
  top: 75%;
  left: 2%;
  opacity: 0.6;
}

.design__arrow_3 {
  top: 185%;
  left: 29%;
  opacity: 0.3;
}

.design__arrow_4 {
  top: -65%;
  left: 35%;
  opacity: 0.6;
}

.design__arrow_5 {
  top: -90%;
  left: 78%;
  opacity: 0.2;
}

.design__arrow_6 {
  top: 140%;
  left: 85%;
}

.design__arrow_7 {
  top: 35%;
  right: 0;
  opacity: 0.6;
}

.design__img {
  position: relative;
  width: 210px;
  height: 45px;
  margin-bottom: 60px;
}

.design__img::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: -23px;
  right: 0;
  width: 42px;
  height: 14px;
  background: #ffffff;
}

.design__p {
  max-width: 750px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

@media (max-width: 410px) {
  .design__p {
    font-size: 20px;
    line-height: 28px;
  }
}

.we-do {
  padding: 155px 0 140px 0;
}

@media (max-width: 1200px) {
  .we-do {
    padding: 105px 0 90px 0;
  }
}

@media (max-width: 410px) {
  .we-do {
    padding: 75px 0 70px 0;
  }
}

.we-do__title-2 {
  max-width: 435px;
  margin-bottom: 50px;
}

@media (max-width: 410px) {
  .we-do__title-2 {
    margin-bottom: 20px;
  }
}

.we-do__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.we-do__item:not(:last-of-type) {
  margin-bottom: 142px;
}

@media (max-width: 1200px) {
  .we-do__item:not(:last-of-type) {
    margin-bottom: 102px;
  }
}

@media (max-width: 768px) {
  .we-do__item:not(:last-of-type) {
    margin-bottom: 42px;
  }
}

.we-do__item_left {
  margin-right: 80px;
}

@media (max-width: 768px) {
  .we-do__item_left {
    display: none;
  }
}

.we-do__item_image {
  max-width: 440px;
  background: #FFFFFF;
  border: 5px solid #3A3A3A;
  border-radius: 20px;
  padding: 11px 22px;
  -webkit-box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.15);
          box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.15);
}

.we-do__item_right {
  max-width: 480px;
}

.we-do__item_list {
  font-size: 18px;
  line-height: 28px;
}

.we-do__item_list li {
  position: relative;
  padding: 0 0 0 21px;
}

.we-do__item_list li::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 7px;
  height: 1px;
  background: #3454F5;
  top: 14px;
  left: 0;
  border-radius: 2px;
}

.we-do__item_list li::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 7px;
  height: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: #3454F5;
  top: 14px;
  left: 0;
  border-radius: 2px;
}

.we-do__item_list li:last-of-type {
  color: #E46868;
}

.we-do__item_list li:last-of-type::before {
  background: #E46868;
}

.we-do__item_list li:last-of-type::after {
  display: none;
}

.we-do__title-3 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 15px;
}

@media (max-width: 410px) {
  .we-do__title-3 {
    font-size: 20px;
    line-height: 30px;
  }
}

.we-do__p {
  font-size: 18px;
  line-height: 28px;
}

.we-do__p:not(:last-of-type) {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .we-do__p:not(:last-of-type) {
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.calculation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 172px;
  padding: 0 58px 0 0;
  border-radius: 15px;
  background: #EFF7FF;
}

@media (max-width: 1200px) {
  .calculation {
    margin-top: 122px;
    padding: 30px 58px 30px 0;
  }
}

@media (max-width: 992px) {
  .calculation {
    padding: 30px 58px;
  }
}

@media (max-width: 768px) {
  .calculation {
    margin-top: 52px;
    text-align: center;
  }
}

@media (max-width: 410px) {
  .calculation {
    padding: 30px 28px;
  }
}

@media (max-width: 992px) {
  .calculation__left {
    display: none;
  }
}

.calculation__img {
  max-width: 446px;
  max-height: 446px;
}

.calculation__right {
  max-width: 610px;
}

.calculation__title-3 {
  font-size: 30px;
  margin-bottom: 15px;
}

.calculation__p {
  line-height: 28px;
  margin-bottom: 50px;
}

@media (max-width: 410px) {
  .calculation__p {
    margin-bottom: 20px;
  }
}

.calculation__form_p {
  display: inline-block;
  vertical-align: middle;
  max-width: 257px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.calculation__input {
  background: #ffffff;
  border-radius: 5px;
  height: 72px;
  width: 287px;
  display: inline-block;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .calculation__input {
    width: 100%;
  }
}

@media (max-width: 410px) {
  .calculation__input {
    height: 52px;
  }
}

.calculation__input input {
  width: 100%;
  height: 100%;
  padding: 25px;
  font-size: 18px;
}

.calculation__input input:focus {
  -webkit-box-shadow: inset 0 0 3px 3px #3454F5;
          box-shadow: inset 0 0 3px 3px #3454F5;
}

.calculation__input:not(:last-of-type) {
  margin-right: 20px;
}

.calculation__input ::-webkit-input-placeholder {
  font-size: 18px;
  color: #999999;
}

.calculation__input :-ms-input-placeholder {
  font-size: 18px;
  color: #999999;
}

.calculation__input ::-ms-input-placeholder {
  font-size: 18px;
  color: #999999;
}

.calculation__input ::placeholder {
  font-size: 18px;
  color: #999999;
}

.calculation__btn {
  margin-right: 20px;
}

@media (max-width: 410px) {
  .calculation__btn {
    width: 100%;
  }
}

.stack {
  padding: 80px 0;
  background: #EFF7FF;
}

@media (max-width: 410px) {
  .stack {
    padding: 40px 0 20px 0;
  }
}

.stack__title-2 {
  margin-bottom: 50px;
}

@media (max-width: 410px) {
  .stack__title-2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.stack__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

@media (max-width: 410px) {
  .stack__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.stack__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  margin: 0 10px;
  background-color: #ffffff;
  height: 88px;
  border-radius: 10px;
}

@media (max-width: 410px) {
  .stack__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 20px;
    height: 68px;
  }
}

.cases {
  padding: 140px 0;
}

@media (max-width: 1200px) {
  .cases {
    padding: 100px 0;
  }
}

@media (max-width: 992px) {
  .cases {
    padding: 50px 0;
  }
}

@media (max-width: 410px) {
  .cases {
    padding: 30px 0;
  }
}

.cases__title-2 {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .cases__title-2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .cases__title-2 {
    text-align: center;
  }
}

.cases__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .cases__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .cases__item {
    margin-bottom: 50px;
  }
}

@media (max-width: 410px) {
  .cases__item {
    margin-bottom: 30px;
  }
}

.cases__img {
  max-width: 680px;
  max-height: 400px;
  margin-right: 50px;
}

@media (max-width: 992px) {
  .cases__img {
    margin-right: 20px;
    max-width: 380px;
  }
}

@media (max-width: 768px) {
  .cases__img {
    margin-bottom: 20px;
  }
}

@media (max-width: 410px) {
  .cases__img {
    margin-right: 0;
  }
}

.cases__img img {
  border-radius: 15px;
}

.cases__text {
  padding: 20px 0 0 0;
}

@media (max-width: 992px) {
  .cases__text {
    padding: 0;
  }
}

.cases__text_numeral-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.cases__text_numeral-p:nth-of-type(3) {
  margin-bottom: 33px;
}

@media (max-width: 992px) {
  .cases__text_numeral-p:nth-of-type(3) {
    margin-bottom: 13px;
  }
}

@media (max-width: 992px) {
  .cases__text_numeral-p {
    margin-bottom: 10px;
  }
}

.cases__text_numeral {
  width: 96px;
  padding: 14px 0;
  color: #3454F5;
  background: #EFF7FF;
  border-radius: 5px;
  margin-right: 17px;
  text-align: center;
}

.cases__text_img {
  max-width: 320px;
  max-height: 28px;
}

@media (max-width: 768px) {
  .cases__text_img {
    display: none;
  }
}

.cases__title-3 {
  font-size: 20px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .cases__title-3 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.cases__p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  max-width: 288px;
}

.how-much {
  padding: 80px 0;
  background: #3454F5;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .how-much {
    padding: 40px 0;
  }
}

.how-much__title-2 {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .how-much__title-2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .how-much__title-2 {
    text-align: center;
  }
}

.how-much__row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .how-much__row-1 {
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .how-much__row-1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.how-much__p {
  max-width: 344px;
  line-height: 28px;
}

@media (max-width: 576px) {
  .how-much__p {
    margin-bottom: 10px;
  }
}

.how-much__span {
  padding: 0 35px;
  height: 56px;
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: #333333;
  background: #FFFFFF;
  border-radius: 5px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .how-much__span {
    padding: 0 15px;
  }
}

@media (max-width: 410px) {
  .how-much__span {
    height: 36px;
    line-height: 36px;
  }
}

.how-much__calculation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .how-much__calculation {
    margin-bottom: 10px;
  }
}

@media (max-width: 410px) {
  .how-much__calculation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.how-much__calculation input,
.how-much__calculation button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.how-much__inp {
  height: 72px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .how-much__inp {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 52px;
  }
}

@media (max-width: 410px) {
  .how-much__inp {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.how-much__inp input {
  padding: 25px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .how-much__inp input {
    padding: 25px 10px;
  }
}

.how-much__inp input:focus {
  -webkit-box-shadow: inset 0 0 3px 3px #3454F5;
          box-shadow: inset 0 0 3px 3px #3454F5;
}

.how-much__inp-sub {
  height: 72px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

@media (max-width: 768px) {
  .how-much__inp-sub {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    height: 52px;
  }
}

@media (max-width: 410px) {
  .how-much__inp-sub {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.how-much__inp-sub button {
  font-weight: 800;
  font-size: 16px;
  background: #FFE818;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.how-much__inp-sub button:hover {
  background-color: #e4cd00;
}

.how-much__inp-sub button:active {
  -webkit-box-shadow: inset 0 0 10px #4b4400;
          box-shadow: inset 0 0 10px #4b4400;
}

.how-much__p-end {
  font-size: 14px;
}

.who-will-work {
  padding: 140px 0;
}

@media (max-width: 1200px) {
  .who-will-work {
    padding: 100px 0;
  }
}

@media (max-width: 992px) {
  .who-will-work {
    padding: 70px 0;
  }
}

@media (max-width: 410px) {
  .who-will-work {
    padding: 40px 0;
  }
}

.who {
  margin-bottom: 140px;
}

@media (max-width: 992px) {
  .who {
    margin-bottom: 60px;
  }
}

.who__title-2 {
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .who__title-2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 410px) {
  .who__title-2 {
    text-align: center;
  }
}

.who__img {
  margin-bottom: 40px;
}

@media (max-width: 410px) {
  .who__img {
    margin-bottom: 20px;
  }
}

.who__img img {
  border-radius: 10px;
}

.who__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .who__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.who__left {
  max-width: 457px;
}

@media (max-width: 768px) {
  .who__left {
    margin-bottom: 20px;
  }
}

.who__left_P {
  line-height: 28px;
}

.who__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.who__right_img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 30px;
}

@media (max-width: 992px) {
  .who__right_img {
    margin-right: 0;
  }
}

.who__right_p {
  max-width: 393px;
  font-weight: 600;
  line-height: 28px;
}

@media (max-width: 992px) {
  .who__right_p {
    text-align: right;
    max-width: 193px;
  }
}

.if__title-2 {
  margin-bottom: 20px;
}

.if__p {
  margin-bottom: 40px;
}

@media (max-width: 410px) {
  .if__p {
    margin-bottom: 20px;
  }
}

.if__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .if__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.if__item {
  position: relative;
  padding: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  height: 460px;
  background: #EFF7FF;
}

@media (max-width: 768px) {
  .if__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    height: 430px;
    margin-bottom: 20px;
  }
}

.if__item:not(:last-of-type) {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .if__item:not(:last-of-type) {
    margin-right: 0;
  }
}

.if__item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 80px;
  height: 80px;
  background: url("img/who-will-work/6.svg") no-repeat center, #3454F5;
}

.if__title-3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.if__span {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  background: #ffffff;
  margin-bottom: 8px;
}

.if__img {
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("img/who-will-work/7.svg") no-repeat 100% 100%, url("img/who-will-work/8.svg") no-repeat 100% 100%;
}

.footer {
  padding: 95px 0 80px 0;
  color: #ffffff;
  background: #2E3646;
}

@media (max-width: 768px) {
  .footer {
    padding: 45px 0 40px 0;
  }
}

.footer__img {
  position: relative;
  max-width: 135px;
  max-height: 29px;
  margin-bottom: 53px;
}

@media (max-width: 768px) {
  .footer__img {
    margin-bottom: 23px;
  }
}

.footer__img::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: -14.5px;
  right: 0;
  width: 27px;
  height: 9px;
  background: #ffffff;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__list {
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .footer__list {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.footer__list .sprite {
  vertical-align: middle;
  margin-right: 17px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media (max-width: 992px) {
  .footer__list .sprite {
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .footer__list .sprite {
    margin-right: 20px;
  }
}

.footer__list .sprite:hover {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

.footer__list:last-of-type ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__title-3 {
  font-size: 18px;
  margin-bottom: 16px;
}

.footer__link {
  margin-bottom: 9px;
}

.footer__link a {
  color: #ffffff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.footer__link a:hover {
  color: #cccccc;
}

.sprite {
  background-image: url(img/sprite/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-1 {
  width: 20px;
  height: 20px;
  background-position: -5px -5px;
}

.sprite-2 {
  width: 20px;
  height: 20px;
  background-position: -35px -5px;
}

.sprite-3 {
  width: 40px;
  height: 40px;
  background-position: -5px -35px;
}

.sprite-4 {
  width: 40px;
  height: 40px;
  background-position: -65px -5px;
}

.sprite-5 {
  width: 40px;
  height: 40px;
  background-position: -55px -55px;
}
/*# sourceMappingURL=style.css.map */