@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-SemiBold.eot");
  src: local("☺"), url("fonts/Gilroy-SemiBold.woff") format("woff"), url("fonts/Gilroy-SemiBold.ttf") format("truetype"), url("fonts/Gilroy-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("fonts/Gilroy-Bold.eot");
  src: local("☺"), url("fonts/Gilroy-Bold.woff") format("woff"), url("fonts/Gilroy-Bold.ttf") format("truetype"), url("fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: #333333;
}

.container-1 {
  max-width: 1570px;
  margin: 0 auto;
  padding: 0 5px;
  overflow: hidden;
}

.container-2 {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 5px;
}

@media (max-width: 1200px) {
  .container-2 {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container-2 {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container-2 {
    max-width: auto;
  }
}

img {
  max-width: 100%;
}

.header {
  padding: 30px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  display: inline-block;
  border: 2px solid #333333;
  border-radius: 7px;
  padding: 0 36px;
  height: 50px;
  line-height: 45px;
  color: #333333;
}

.logo {
  position: relative;
}

.logo::before {
  content: '';
  position: absolute;
  top: -14.5px;
  right: 0;
  width: 27px;
  height: 9px;
  background-color: #3454F5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-of-type) {
  margin-right: 55px;
}

.menu__link {
  color: #333333;
}

.btn {
  display: inline-block;
  padding: 0 80px;
  height: 72px;
  color: #ffffff;
  background-color: #3454F5;
  line-height: 72px;
  border-radius: 5px;
}

.simple-development {
  margin-bottom: 100px;
}

.simple-development__body {
  padding: 0 0 0 190px;
  background-color: #EFF7FF;
  background-image: url("img/simple-development/1.png"), url("img/simple-development/2.png");
  background-repeat: no-repeat;
  background-position: 30% 0, 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simple-development__col-1 {
  padding: 173px 0 168px 0;
  max-width: 567px;
}

.simple-development__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 26px;
}

.simple-development__p {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 46px;
}

.simple-development__col-2 {
  position: relative;
  width: 864px;
  height: 750px;
}

.simple-development__img {
  position: absolute;
}

.simple-development__img_3 {
  width: 964px;
  height: 850px;
  top: 5%;
  left: -7%;
}

.simple-development__img_4 {
  width: 248px;
  height: 237px;
  top: 25%;
  left: 5%;
  z-index: 5;
}

.simple-development__img_5 {
  width: 350px;
  height: 75px;
  top: 40%;
  left: 30%;
  background-color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

.simple-development__img_5 img {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.simple-development__img_6 {
  width: 350px;
  height: 75px;
  top: 55%;
  left: 40%;
  background-color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.simple-development__img_6 img {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.simple-development__img_7 {
  width: 350px;
  height: 75px;
  top: 20%;
  left: 25%;
  background-color: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.simple-development__img_7 img {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.internet {
  padding: 0 0 183px 0;
}

.internet__top {
  max-width: 630px;
}

.top {
  margin-bottom: 70px;
}

.top__title-2 {
  margin-bottom: 25px;
}

.top__p {
  font-size: 20px;
  line-height: 32px;
}

.title-2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.title-3 {
  font-weight: bold;
  font-size: 24px;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom__left {
  position: relative;
  left: -5%;
  width: 617px;
  height: 760px;
}

.bottom__left img {
  position: absolute;
}

.bottom__left img:last-of-type {
  top: -25%;
  left: -15%;
}

.right {
  max-width: 463px;
}

.right__col:not(:last-of-type) {
  margin-bottom: 80px;
}

.right__col_1-img {
  position: relative;
  left: -8%;
  width: 175px;
  height: 123px;
  margin-bottom: 23px;
  background: url("img/internet/5.svg") no-repeat center;
  background-size: 100px 100px;
}

.right__col_2-img {
  width: 94px;
  height: 141px;
  background: url("img/internet/5.svg") no-repeat center;
  background-size: 90px 90px;
}

.right__col_3-img {
  width: 99px;
  height: 113px;
  margin-bottom: 28px;
  background: url("img/internet/5.svg") no-repeat center;
  background-size: 90px 90px;
}

.right__col_4-img {
  width: 89px;
  height: 130px;
  background: url("img/internet/5.svg") no-repeat center;
  background-size: 90px 90px;
}

.right__title-3 {
  margin-bottom: 15px;
}

.right__p {
  font-size: 18px;
  line-height: 28px;
}

.design {
  padding: 345px 0 305px 0;
  background-color: #3454F5;
}

.design__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design__arrow {
  position: absolute;
  width: 49px;
  height: 110px;
  background: url("img/design/2.svg") no-repeat;
}

.design__arrow_1 {
  top: -60%;
  left: 0;
  opacity: 0.4;
}

.design__arrow_2 {
  top: 75%;
  left: 2%;
  opacity: 0.6;
}

.design__arrow_3 {
  top: 185%;
  left: 29%;
  opacity: 0.3;
}

.design__arrow_4 {
  top: -65%;
  left: 35%;
  opacity: 0.6;
}

.design__arrow_5 {
  top: -90%;
  left: 78%;
  opacity: 0.2;
}

.design__arrow_6 {
  top: 140%;
  left: 85%;
}

.design__arrow_7 {
  top: 35%;
  right: 0;
  opacity: 0.6;
}

.design__img {
  position: relative;
  width: 210px;
  height: 45px;
  margin-bottom: 60px;
}

.design__img::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: -23px;
  right: 0;
  width: 42px;
  height: 14px;
  background: #ffffff;
}

.design__p {
  max-width: 750px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */